<tr valign="top">
  <thead>
    {% if read_only %}
      <td>
    {% else %}
      <td colspan="2">
    {% endif %}
    <strong>Domain Names</strong>
  </td>
</thead>
</tr>
{% for x in contact_domains %}
  <tr valign="top">
    <td>
      {% if user.is_staff and not read_only %}
        <a href="{% url 'monitor.contact.domain.update' x.pk %}">
          <i class="fa fa-fw fa-edit"></i>
      {% endif %}
      {{ x.url }}
      {% if not read_only %}
        </a>
      {% endif %}
      <small>
        <a
          href="{{ x.email }}"
          target="_blank">
          (<i class="fa fa-fw fa-external-link"></i> Open website...)
        </a>
      </small>
    </td>
    {% if user.is_staff and not read_only %}
      <td>
        <a href="{% url 'monitor.contact.domain.delete' x.pk %}">
          <i class="fa fa-fw fa-times"></i>
        </a>
      </td>
    {% endif %}
  </tr>
{% endfor %}
{% if user.is_staff and not read_only %}
  <tr valign="top">
    <td colspan="2">
      <a href="{% url 'monitor.contact.domain.create' contact.pk %}">
        <i class="fa fa-fw fa-plus"></i>
        Create domain name...
      </a>
    </td>
  </tr>
{% endif %}
