Last checked at
{% if monitor.checked %}
  {{ monitor.checked|date:'d/m/Y H:i' }}
{% endif %}
{% if monitor.warning %}
  <i class="fa fa-warning"></i>
  <small class='errorlist'>
    {{ monitor.warning }}
    {% if monitor.due %}
      by
      {{ monitor.due|timesince }}
    {% endif %}
  </small>
{% endif %}
