<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Monitor</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'monitor.list' %}" class="pure-menu-link">
      <i class="fa fa-chain-broken"></i>
      Domain Names
    </a>
  </div>
</div>
