{% extends 'contact/base.html' %}

{% block sub_title %}
  Delete Domain Name for
  {{ object.contact.full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Delete Domain Name for
  {{ object.contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'contact.detail' object.contact.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Are you sure you want to delete
      <strong>
        {{ object.url }}
      </strong>
      for
      <strong>
        {{ object.contact.full_name }}?
      </strong>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-xl-2-3">
      {% include '_form.html' with submit='Delete Domain Name...' %}
    </div>
  </div>
{% endblock content %}
