{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ monitor.title }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ monitor.title }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'monitor.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'monitor/_monitor.html' %}
      <table width="100%" class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Domain Name Expiry</th>
            <th>Certificate Expiry</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'contact.detail' obj.contact.pk %}">
                  {{ obj.url }}
                </a>
              </td>
              <td>
                {% if obj.expiry %}
                  {{ obj.expiry|date:'d/m/Y' }}
                  {% if obj.expires_soon %}
                    <small class='errorlist'>
                      Expires in {{ obj.expiry|timeuntil }}
                    </small>
                  {% endif %}
                {% else %}
                  <i class="fa fa-warning"></i>
                  <small>
                    Check Failed
                  </small>
                {% endif %}
              </td>
              <td>
                {% if obj.certificate_expiry %}
                  {{ obj.certificate_expiry|date:'d/m/Y' }}
                  {% if obj.certificate_expires_soon %}
                    <small class='errorlist'>
                      Expires in {{ obj.certificate_expiry|timeuntil }}
                    </small>
                  {% endif %}
                {% else %}
                  <i class="fa fa-warning"></i>
                  <small>
                    Check Failed
                  </small>
                {% endif %}
              </td>
              <td>
                {{ obj.contact.get_full_name }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
