{% extends 'contact/base.html' %}

{% block sub_title %}
  Domain name for
  {{ contact.full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Domain name for
  {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'contact.detail' contact.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-xl-2-3">
      {% include '_form.html' with aligned=True %}
    </div>
  </div>
{% endblock content %}
