{% extends 'dash/base.html' %}

{% block sub_title %}
  Monitor
{% endblock sub_title %}

{% block sub_heading %}
  Monitor
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Checked</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'monitor.report.list' obj.slug %}">
                  {{ obj.title }}
                </a>
              </td>
              <td>
                {% if obj.checked %}
                  {{ obj.checked|date:'d/m/Y H:i' }}
                {% endif %}
                {% if obj.warning %}
                  <i class="fa fa-warning"></i>
                  <small class='errorlist'>
                    {{ obj.warning }}
                    {% if obj.due %}
                      by
                      {{ obj.due|timesince }}
                    {% endif %}
                  </small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
