{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ monitor.title }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ monitor.title }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'monitor.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'monitor/_monitor.html' %}
      <table width="100%" class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Bounce</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                {% if obj.bounce_count > 0 %}
                  <span class='errorlist'>
                {% endif %}
                {{ obj.domain }}
                {% if obj.bounce_count > 0 %}
                  </span>
                {% endif %}
              </td>
              <td>
                {{ obj.bounce_count }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
